DATABASE_URL=postgres://agentgate:secret@localhost:5432/agentgate
PROXY_PORT=8080
ADMIN_PORT=8081
JWT_ISSUER=agentgate
JWT_DEFAULT_TTL_SECS=3600
# Generate with: openssl rand -hex 32
KEY_ENCRYPTION_SECRET=your_32_byte_hex_secret_here_replace_me_0000000000000000000000000000
ADMIN_INITIAL_USERNAME=admin
ADMIN_INITIAL_PASSWORD=changeme_min16chars!!
UPSTREAM_REQUEST_TIMEOUT_MS=30000
MAX_REQUEST_BODY_BYTES=1048576
